{% extends "layout.html" %}
{% block title %}Create New Board{% endblock %}
{% block body %}
<div class=row>
    <div class=col-7>
        <h2>Boards list:</h2>
        <table class=view_boards>
            <thead>
                <tr>
                    <td> ID </td>
                    <td> Name </td>
                    <td> Creator </td>
                    <td> Date </td>
                </tr>
            </thead>
        {% for board in boards_list %}
            <tr>
                <td class=id_td>{{ board['id'] }}</td>
                <td><a href="\{{ board['id'] }}">{{ board['name'] }}</a></td>
                <td>{{ board['creator'] }}</td>
                <td>{{ board['dt'] }}</td>
            </tr>
        {% endfor %}
        </table>

    </div>
    <div class="col-5">
        <h2>Create new board</h2>
        <form action="" method=post>
            {% if error %}
              <p class=error><strong>Error:</strong> {{ error }}
            {% endif %}
            <p>
          <div class="form-group">
            <label for="board_name">Board name:</label>
            <input type="text" class="form-control" id="board_name" name="board_name"  placeholder="Enter board name" required>
          </div>
          <div class="form-group">
            <label for="creator">Creator name:</label>
            <input type="text" class="form-control" id="creator" name="creator" placeholder="Creator name" required>
          </div>
          <button type="submit" class="btn btn-primary">Create</button>
        </form>

    </div>
</div>
{% endblock %}
